
  img {
    height: 200px;
    float: left;
  }

  #boton{
  	width: 100px;
  	height : 25px;
  	border: 1px solid black;
  }
  #contenido{
  	width: 200px;
  	height : 25px;
  	border: 1px solid black;
  	font-size: 15px;
  }